# Go build artifacts
cocite
*.exe
*.out
*.tar

# Dependency/vendor directories
vendor/
bin/

# Editor/IDE settings
.vscode/
.idea/

# OS junk--because we're not GAY
.DS_Store
Thumbs.db

# .env file
docker/.env